@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@keyframes set-inactive {
  to {
    min-height: 0;
    height: 0;
    overflow: hidden;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

html,
body,
#content {
  height: 100%;
}

#content {
  position: relative;
  padding-top: 10rem;
  box-sizing: border-box;
}

#title {
  display: flex;
  top: 0;
  position: absolute;
  min-height: 100vh;
  box-sizing: border-box;
  padding-top: 10rem;
  align-items: center;
  overflow: hidden;
  background-color: #bb5555;
  width: 100%;
  clip-path: inset(0 0 0 0);
  transition: transform 400ms ease-in-out, clip-path 400ms ease-in-out;
  /* transition-property: clip-path, align-items, padding; */
  /* transition-duration: 300ms, 300ms, 300ms; */
  /* transition-timing-function: ease-out, ease-out, ease-out; */
  transform: translateY(-10rem);
  z-index: 1;
}

#opening {
  display: grid;
  min-height: 100vh;
  grid-template-areas: "about locations";
  grid-template-columns: 1fr 1fr;
  column-gap: 5rem;
  padding: 3rem;
  padding-inline: 5rem;
  overflow: hidden;
  box-sizing: border-box;
  align-items: center;
}

#title.inactive {
  clip-path: inset(0 0 calc(100% - 10rem) 0);
  transform: translateY(0);
  /* align-items: start */
}

#title.inactive #opening {
  animation: set-inactive 0s linear 400ms forwards;
  /* transform: translateY(100%); */
}

/* #title.inactive ~ .inactive { */
/*   display: none; */
/* } */
/**/
/* #title:not(.inactive) ~ .inactive { */
/*   animation: set-inactive 0s linear 400ms forwards; */
/* } */

#title ~ * {
  transform: translateY(0);
  transition: transform 400ms ease-out;
}

#title ~ .inactive {
  transform: translateY(-100%);
  animation: set-inactive 0s linear 400ms forwards;
}

#controls {
  display: grid;
  grid-template-areas: "title back";
  grid-template-columns: 1fr auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 10rem;
  box-sizing: border-box;
  padding: 2rem;
  align-items: center;
}

#controls > h1 {
  font-size: 4rem;
  grid-area: title;
}

#back {
  grid-area: back;
  box-sizing: border-box;
  background: #222222;
  border-radius: 30px;
  padding: 1.5rem;
  box-shadow: #aa3333 10px 10px;
  height: fit-content;
  transition: transform 300ms ease-out;
}

#back h1 {
  color: white;
  line-height: 1;
}

#about > h1 {
  font-size: 7rem;
  transition: font-size 300ms ease-out;
}

#about p {
  font-size: 1.5rem;
  transition: filter 300ms ease-out;
}

#about {
  grid-area: about;
}

#locations {
  grid-area: locations;
  transition: filter 300ms ease-out;
}

.location {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: 100%;
  background: #222222;
  border-radius: 40px;
  align-items: center;
  padding: 2rem;
  margin-block: 3rem;
  box-shadow: #aa3333 10px 10px;
  transition: transform 300ms ease-out;
}

.location p {
  font-size: 1.5rem;
  color: #f7efe1;
}

.location h1 {
  font-size: 5rem;
  color: #f7efe1;
}

.location:hover,
#back:hover {
  cursor: pointer;
  transform: scale(1.05);
}

@media screen and (max-width: 1700px) {
  #about > h1 {
    font-size: 5rem;
  }

  .location h1 {
    font-size: 4rem;
  }

  #about p {
    font-size: 1.35rem;
  }
}

@media screen and (max-width: 1350px) {
  #title h1 {
    font-size: 3rem;
  }

  #back h1 {
    font-size: 1rem;
  }

  #opening {
    padding: 2rem;
  }

  #about h1 {
    text-align: center;
    font-size: 3rem;
  }

  .location h1 {
    font-size: 3rem;
  }

  #about p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 800px) {
  #opening {
    display: block;
  }
}
