@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

html,
body,
#content {
  height: 100%;
}

#opening {
  position: relative;
  display: grid;
  grid-template-areas: "about locations";
  grid-template-columns: 1fr 1fr;
  column-gap: 5rem;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  background-color: #bb5555;
  padding: 3rem;
  padding-inline: 5rem;
  box-sizing: border-box;
  clip-path: inset(0 0 0 0);
  transition-property: clip-path, align-items, padding;
  transition-duration: 300ms, 300ms, 300ms;
  transition-timing-function: ease-out, ease-out, ease-out;
}

.inactive[id="opening"] {
  clip-path: inset(0 0 calc(100% - 10rem) 0) !important;
  min-height: 0 !important;
  height: 10rem !important;
  align-items: start !important;
}

.inactive[id="opening"] #about p,
.inactive[id="opening"] #locations {
  filter: opacity(0);
}

.inactive[id="opening"] #about h1 {
  position: absolute;
  top: 1.25rem;
  left: 2rem;
  font-size: 5rem;
}

.inactive:not([id="opening"]) {
  display: none !important;
}

#about h1 {
  font-size: 7rem;
  transition: font-size 300ms ease-out;
}

#about p {
  font-size: 1.5rem;
  transition: filter 300ms ease-out;
}

#about {
  grid-area: about;
}

#locations {
  grid-area: locations;
  transition: filter 300ms ease-out;
}

.location {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: #222222;
  border-radius: 30px;
  align-items: center;
  padding: 2rem;
  margin-block: 3rem;
  box-shadow: #992222 10px 10px;
  transition: transform 300ms ease-out;
}

.location p {
  font-size: 1.5rem;
  color: #f7efe1;
}

.location h1 {
  font-size: 5rem;
  color: #f7efe1;
}

.location:hover {
  cursor: pointer;
  transform: scale(1.05);
}

@media screen and (max-width: 1350px) {
  #opening {
    padding: 2rem;
    display: block;
  }

  #about h1 {
    text-align: center;
    font-size: 3rem;
  }

  .location h1 {
    font-size: 3rem;
  }

  #about p {
    font-size: 1.2rem;
  }
}
